<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mall.user.mapper.UserMapper">

    <select id="getByUserId" resultType="com.learn.mall.user.model.User">
        select user_id, nick_name, pic, status
        from user
        where user_id = #{userId}
    </select>

    <insert id="save">
        insert into user (user_id, nick_name, pic, status)
        values (#{userId}, #{nickName}, #{pic}, #{status})
    </insert>

    <update id="update">
        update user
        set nick_name = #{nickName},
            pic = #{pic}
        where user_id = #{userId}
    </update>
</mapper>
