<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mall.order.mapper.PayInfoMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="payId">
        insert into pay_info (user_id, order_ids, biz_pay_no, pay_status, pay_amount, confirm_time)
        values (#{userId}, #{orderIds}, #{bizPayNo}, #{payStatus}, #{payAmount}, #{confirmTime})
    </insert>
</mapper>
